* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    max-width: 968px;
    display: flex;
    flex-basis: 1;
    margin: auto;
}

nav div {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav .bar {
    width: 15px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
    border-radius: 2px;
}

/* HERO */
.hero {
    width: auto;
    height: 720px;
    background-color: gray;
}

.hero .image {
    width: 1048px;
    height: 720px;
    background-color: beige;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.hero .image .info {
    flex: 0.4
}